@page
@model ShoesModel
<div class ="row">
    <div class="col-2 border">
       <Title>Please Choose Your Shoe's</Title>
    </div>
    <div class="col-6 border">
        <form methods="post">
            <div class="form-group">
                <label class="contorl-label">Shoe Size</label>
                <input class="form-control"/>
            </div>
        </form>
    </div>
</div>